body {
    padding-top: 5rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;

}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

#form_main {
    width: 50%;
    margin: auto;
    text-align: center;
}

#main_inscription {
    width: 50%;
    margin: auto;
    text-align: center;
}

#card {
    padding: 1vh 1vh;
}

.card {
    padding: 1vh 1vh;
    width: 98%;
    margin: auto;
    height: 30vh;
    display: flex;
    flex-direction: row;
}

.pic {
    padding: 1vh 1vh;
    width: 20%;
    background-position: center;
    background-size: auto;
}

.text {
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}


#form {
    width: 50%;
    text-align: center;
    margin: auto;
}

#toutes_card {
    height: 40vh;
    width: 98%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row; 
}

.card_donnee {
    margin: auto;
    border-radius: 0px 34px 34px 34px;
    -moz-border-radius: 0px 34px 34px 34px;
    -webkit-border-radius: 0px 34px 34px 34px;
    padding: 5vh;
    border: 1px solid #000000;
    width: 25%;
    text-align: center;
}